body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #f9fafc;
}

header{font-size: .75em;

}
.chirpusTop {
		margin-left: 15px;
						
}


.navbar {
    list-style-type: none;
    display: block;
    margin-left: -30px;
    }

.navbar li {
    margin: 5px;
}
li a {
    color: #69696a;
    text-decoration: none;
    }

a:visited {
    color: #69696a;
    }

.hireUs {
    align-items: center;
	width: 99%;
    margin: 10px 5px 0px -15px;
	font-size: 14px;
    height: 24px;
    background-color: #000;
    color: #FFF;
    border-radius: 1em;
   }

   .scrollDown {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 96%;
    margin: 10px 5px 30px 0px;
    font-size: 14px;
    height: 24px;
    background-color: #000;
    color: #FFF;
    border-radius: 1em;
   }
.description{
    color: #69696a; 
    margin: 30px 0px;
    border-left: 5px solid #69696a;
    padding-left: 20px;
    font-size: .75em;
	width: 90%;
}
@media screen and (min-width: 768px) {

header {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	padding: 15px 0;
	justify-content: space-between;
	align-items: center;
		 
}
.chirpusTop {
	margin-left: 0px;
}

.description {
	width: 50%;
}

.navbar li {
    margin: 5px 0px;
}

ul {
	display: flex;
	margin-right: 0px;
	align-items: center;
	}


.hireUs {
	
	margin-bottom: 5px;
		width: fit-content;
}


nav{
		width:40%;
}

.navbar{
	display: flex;
	left: 0;
	flex-direction: row;
	justify-content: space-evenly;
	margin-right: -45px;
	
	
}	

.smallCircle {
	background-color: rgba(207, 130, 213, 0.6);
	width: 80px;
	height: 80px;
	border-radius: 40px;
	position: absolute;
	right: 10px;
	top: 220px;
	z-index: 2;
}

.mediumCircle {
	background-color:rgba(247, 193, 162, 0.7);
	width: 120px;
	height: 120px;
	border-radius: 60px;
	position: absolute;
	right: 10px;
	top: 275px;
	z-index: 3;
}

.largeCircle {
	background-color:rgba(247, 136, 167, 0.6);
	width: 160px;
	height: 160px;
	border-radius: 80px;
	position: absolute;
	right: 55px;
	top: 190px;
}

.scrollDown{
	width: fit-content;
	position: absolute;
	bottom: 0px;
	right:45%;
}









}

